<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="task" class="block font-medium text-lg text-center">Task</label>
        <textarea id="task" class="w-full bg-slate-200 border-slate-400 rounded h-20"
        formControlName="task"></textarea>
    </div>
    <div>
        <select class="w-full bg-slate-200 border-slate-400 rounded p-2 text-center mt-4"
        formControlName="status">
            <option value="Todo">Todo</option>
            <option value="InProgress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="bg-amber-500 px-4 py-1 rounded border-amber-900 cursor-pointer">Add ToDo</button>
    </div>
</form>
 